<div class="container-fluid py-3 my-3">
    <div class="container pt-5">
        <div class="row gy-5 g-md-5">
            <div class="col-lg-5 col-md-6 col-sm-12 wow fadeIn" data-wow-delay=".2s">
                <div class="h-100 position-relative">
                    <img src="/assets/images/about/front.jpg" class="img-fluid w-75 rounded-3" alt="" style="margin-bottom: 25%;">
                    <div class="position-absolute w-75" style="top: 25%; left: 25%;">
                        <img src="/assets/images/about/rear.jpg" class="img-fluid w-100 rounded-3" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-6 col-sm-12 wow fadeIn" data-wow-delay=".5s">
                <h5 class="text-primary text-decoration-underline">About Us</h5>
                <h1 class="mb-4">Your Success Story Starts Here: About SnapLogix</h1>
                <p>We believe every business deserves a strong online presence. That's why we build stunning, user-friendly websites at affordable prices for small businesses.  We don't just stop at websites -  need a custom booking system or that extra digital push? We've got you covered with  custom applications and flexible SEO & marketing solutions.</p>
                <p class="mb-4">Our goal? Equip you with the tools to succeed online, affordably and efficiently. Let's  partner to bring your vision to life. We know budgets are tight, that's why we offer  flexible payment options to fit your needs.</p>
                <a href="" class="btn btn-secondary rounded-pill px-5 py-3 text-white">More Details</a>
            </div>
        </div>
    </div>
</div>