<section class="container-fluid bg-secondary py-5"> 
    <div class="container">
        <div class="row">
           <div class="col-lg-4">
                <div class="d-flex counter-wrapper wow fadeIn" data-wow-delay="0.1s">
                    <h1 class="me-3 text-primary counter" data-count="20" data-count-delay="0">0</h1>
                    <h5 class="text-white mt-1">Businessess Upgraded</h5>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="d-flex counter-wrapper wow fadeIn" data-wow-delay="0.2s">
                    <h1 class="me-3 text-primary counter" data-count="13" data-count-delay="400">0</h1>
                    <h5 class="text-white mt-1">Active <br>Partners</h5>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="d-flex counter-wrapper wow fadeIn" data-wow-delay="0.3s">
                    <h1 class="me-3 text-primary counter" data-count="30" data-count-delay="800">0</h1>
                    <h5 class="text-white"> Websites<br> Delivered </h5>
                </div>
            </div>
        </div>
    </div>
</section>