<head>
    <meta charset="utf-8">
    <title>SnapLogix - Website Development and Marketing</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Website development digital marketing software development" name="keywords">
    <meta content="{{ site.description }}" name="description">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/assets/css/main.css" rel="stylesheet">

    <!-- wow.js Stylesheet -->
    <link rel="stylesheet" href="/assets/css/animate.min.css">

    <!-- slick.js Stylesheet -->
    <link rel="stylesheet" href="/assets/css/slick.css">
    <link rel="stylesheet" href="/assets/css/slick-theme.css">

</head>