<div id="carousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active" aria-current="true"
            aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="4000">
            <img src="/assets/images/slider/1.webp" class="d-block w-100" alt="Quick and Easy Web Development">
            <div class="carousel-caption">
                <h5>Why Us?</h5>
            <h1 class="display-1 fw-bold">Quick and Easy Development</h1>
                <p>Bringing your digital space to life could not get simpler. We'll run you through every step of the
                    process.</p>
                <!-- <a href="/" class="btn btn-lg btn-success text-light fw-bold p-3 px-5">Learn more</a> -->
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="4000">
            <img src="/assets/images/slider/2.webp" class="d-block w-100" alt="Customized Solutions">
            <div class="carousel-caption">
                <h5>Why Us?</h5>
                <h1 class="display-1 fw-bold">Customized Solutions</h1>
                <p>Tailor-made solutions for your marketing needs. We analyze your targets thoroughly and pick a
                    development strategy that suits you best.</p>
                <!-- <a href="/" class="btn btn-lg btn-success text-light fw-bold p-3 px-5">Learn more</a> -->
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="4000">
            <img src="/assets/images/slider/3.webp" class="d-block w-100" alt="Long-Term Maintenance Service">
            <div class="carousel-caption">
                <h5>Why Us?</h5>
                <h1 class="display-1 fw-bold">Long-Term Maintenance</h1>
                <p>We dont build projects, we build systems. Fully integrated with all that we need to provide you with maximum support post development.</p>
                <!-- <a href="/" class="btn btn-lg btn-success text-light fw-bold p-3 px-5">Learn more</a> -->
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>